doctype html
html
  head 
    meta(charset="UTF-8")
    link(rel="icon", type="image/svg+xml", href="favicon.svg")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Weekly Meeting Host Picker

  body
    div(id="clickToSpin") Click to spin!
    canvas(id="renderCanvas")
    div(id="winner")
    div(id="fireworks", class="pyro")
      div(class="before")
      div(class="after")
    script(type="module", src="./src/main.ts")