body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;

  #icons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 25px;
    z-index: 5;
    display: none;

    &.show {
      display: block !important;
    }

    .icon {
      display: block;
      width: 15px;
      height: 15px;
      padding: 5px;
      background-color: #ffffff;
      border-radius: 50%;
      cursor: pointer;
      align-items: center;
      text-align: center;
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 25px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  #editor {
    .inner {
      width: 100%;
      height: 100%;

      textarea {
        display: block;
        width: calc(100% - 8px);
        height: calc(100% - 23px);
        padding: 3px;
        margin: 0;
        border: 1px solid gray;
      }
    }
  }

  .modal {
    position: fixed;
    width: 350px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    z-index: 10;
    cursor: default;
    display: none;
    margin: 0;
    border-width: 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
    font-family: sans-serif;

    &.show {
      display: block !important;
    }

    .close-icon {
      margin-left: auto;
      width: 15px;
      height: 15px;
      cursor: pointer;
      display: block;
      align-items: center;
      text-align: center;
      font-size: 15px;
    }
  }

  #renderCanvas {
    width: 100%;
    height: 100%;
  }

  #buttons {
    position: fixed;
    bottom: 15px;
  }

  #fireworks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
  }

  #clickToSpin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px #333333;
    color: #000000;
    font-family: sans-serif;
  }

  #winner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: #fefefe;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    font-family: sans-serif;
    color: #333333;
    z-index: 3;
  }
}
